# C++ 관련 빌드 파일들
# Windows
*.exe
*.out
*.app
*.dll
*.obj
*.o
*.lo
*.la
*.a
*.lib
*.so
*.dylib
*.pch
*.pdb
*.idb
*.ilk
*.exp

# CMake, Makefile 등 빌드 시스템에서 생성되는 파일들
CMakeCache.txt
CMakeFiles/
Makefile
Makefile.in
Makefile.am
build/
Debug/
Release/
*.log

# Visual Studio 관련 파일들
.vs/
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/c_cpp_properties.json
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.sdf
*.dbmdl
*.opendb

# Qt Creator 관련 파일들
*.pro.user
*.qmake.stash
*.qmake.cache
*.pro.user.*

# Xcode 관련 파일들
*.xcuserdata/
*.xcodeproj/*
*.xcworkspace/

# 기타 편집기 설정 파일들
*.swp
*.swo
*~
.idea/

# 종속성 관리 파일들
*.cmake

# 임시 파일들
Thumbs.db
.DS_Store

# Git LFS
*.tif

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 관련 파일들
# .vcxproj 파일 포함, 다른 Visual Studio 관련 파일 제외
!*.vcxproj
!*.vcxproj.filters
!*.sln

# C# obj 폴더 무시
obj/

# Boost 라이브러리 전체 무시 => 용량이 커서 무시하기로 결정
boost_1_88_0/

# ----------------------------
# Unity 프로젝트: TopViewGame/
# ----------------------------

# 라이브러리, 임시, 빌드 결과물
TopViewGame/[Ll]ibrary/
TopViewGame/[Tt]emp/
TopViewGame/[Oo]bj/
TopViewGame/[Bb]uild/
TopViewGame/[Bb]uilds/
TopViewGame/[Ll]ogs/
TopViewGame/sysinfo.txt

# Visual Studio 관련 Unity 파일
TopViewGame/*.unityproj
TopViewGame/*.suo
TopViewGame/*.user
TopViewGame/*.userprefs
TopViewGame/*.pidb
TopViewGame/*.booproj
TopViewGame/*.svd
TopViewGame/*.pdb
TopViewGame/*.opendb
TopViewGame/*.VC.db
TopViewGame/*.pidb.meta